include ../../partials/mixins.jade
extends ../../partials/layout

block title
    | #{user.fullName}, #(individual.displayName) was sighted again!

block content
    include ../../partials/message-header.jade
    +container()
        p We thought you'd be interested to know that an individual you've sighted in the past has been spotted again!
            h5 Here is some information about the sighting:
            +submission(subinfo.photo, subinfo.date, submission.verbatimLocation, subinfo.number)
        p
            span The #{individual.species.name} was sighted by #{cust.displayname} user
                a(href=cust.info.website + '/user/' + submission.user.id)
                    | #{submission.user.displayName}
                | . Click the link below to see all of #{individual.displayName}'s sightings over the years, including yours. 
            b Thank you for supporting our research!
    +centeredbutton('VIEW INDIVIDUAL', cust.info.website + '/individual/' +  individual.id)