include ../partials/mixins.jade
extends ../partials/layout

block title
    | #{user.displayName}, #(individual.displayName) was sighted again!

block content
    include ../partials/message-header.jade
    +container()
        p We thought you'd be interested to know that an individual you've sighted in the past has been spotted again!
        p
            h5 Here is some information about the sighting:
            +submission(submission.photos[0].url, submission.timeSubmitted, submission.verbatimLocation)
        p
            span The #{individual.speciesDisplayName} was sighted by #{cust.displayname} user
                a(href=cust.info.website + '/user/' + submission.user.id)
                    | #{submission.user.displayName}
                | . Click the link below to see all of #{individual.displayName}'s sightings over the years, including yours. 
            b Thank you for supporting our research!
    +centeredbutton('VIEW INDIVIDUAL', cust.info.website + '/individual/' +  individual.id)