extends admin

block adminScripts
    script(src="javascript/controllers/mediaSubmitAdmin.js")

block content
    div(ng-controller="MediaSubmissionController")
        div(ng-show="!submission")
            h1 Media Submissions
            .ag-fresh(ag-grid="msGridOptions", style="height: 400px;")

        div.ng-cloak(ng-show="submission")
            .container-fluid
                .row
                    .col-md-12
                        .row
                            .col-md-8.col-sm-6
                                h3 Edit Media Submission
                            .col-md-4.col-sm-6
                                span.media-admin-edit-icon
                                    button.btn.btn-primary(ng-click="doneEditing()")
                                        i.glyphicon.glyphicon-check
                                        |  Save
                                span.media-admin-edit-icon
                                    button.btn.btn-danger(ng-click="deleteSubmission()")
                                        i.glyphicon.glyphicon-trash
                                        |  Delete
                .row
                    .col-md-2
                        div.media-admin-nav
                            span.media-admin-nav-label Surveys
                            a(href="javascript:;", ng-click="showPanel('survey_search')"
                              title="Search for a Survey", data-toggle="tooltip")
                                i.glyphicon.glyphicon-search
                            a(href="javascript:;", ng-click="addSurvey()"
                              title="Add a new Survey to this Submission", data-toggle="tooltip")
                                i.glyphicon.glyphicon-plus
                            .list-group
                                a.list-group-item(href="javascript;:", ng-repeat="survey in surveys", ng-click="todo_maybe()")
                                    span {{survey.organization.displayName}} - {{survey.surveyNumber}}
                                    a(href="javascript:;", ng-click="searchEncounter(survey)",
                                      title="Search for an Encounter", data-toggle="tooltip")
                                        i.glyphicon.glyphicon-search
                                    a(href="javascript:;", ng-click="addEncounter(survey)",
                                      title="Add a new Encounter for this Submission", data-toggle="tooltip")
                                    .list-group
                                        a.list-group-item(href="javascript;:", ng-repeat="encounter in survey.encounters", ng-click="editEncounter(encounter)")
                                            span {{encounter.individual.displayName}} - {{main.dateStringFromRest(encounter.encDate)}}
                        div.media-admin-nav
                            span.media-admin-nav-label Encounters
                            a(href="javascript:;", ng-click="searchEncounter()",
                              title="Search for an Encounter", data-toggle="tooltip")
                                i.glyphicon.glyphicon-search
                            a(href="javascript:;", ng-click="addEncounter()",
                              title="Add a new Encounter for this Submission", data-toggle="tooltip")
                                i.glyphicon.glyphicon-plus
                            .list-group
                                a.list-group-item(href="javascript;:", ng-repeat="encounter in encounters", ng-click="editEncounter(encounter)")
                                    span {{encounter.individual.displayName}} - {{main.dateStringFromRest(encounter.encDate)}}
                    .col-md-10
                        .container-fluid
                            .row
                                .col-md-12
                                    span.text-primary Submitted by: {{submission.user.displayName}}
                                    span on: {{timeToDate(submission.timeSubmitted)}}
                                .col-md-12
                                    span(ng-repeat="photo in photos")
                                        a(href="javascript:;", ng-click="viewImage(photo.url)")
                                            img(ng-src="{{photo.thumbUrl}}", style="padding: 2px; max-width: 100%")
                            .row
                                .col-md-12
                                    //img.ng-cloak(ng-src="{{zoomimage}}", ng-show="zoomimage", style="max-height: 100%; max-width: 100%;")
                                    include partials/encounter_view
                                    include partials/survey_search
                                    include partials/survey_edit
                                    include partials/encounter_search
                                    include partials/encounter_edit
