form.form.ng-cloak(name="encounterForm" novalidate, wb-key-handler-form)
    .form-row
        legend.form-group Edit Encounter
            a(href="javascript:;" ng-click="cancel()" uib-tooltip="Cancel")
                i.glyphicon.glyphicon-remove
    .form-row
        .form-group.col-md-6
            label.control-label Individual:
            input.form-control(type="text" disabled="true" ng-value="data.encounter.individual.id ? data.encounter.individual.displayName : '-- New Individual --'")
        .form-group.col-md-5
            label.control-label Species:
            select.form-control(ng-options="species.name for species in getSpecies() track by species.code"
                                ng-model="data.encounter.individual.species")
                option(value="") --- select one ---
        .form-group.col-md-1
            input(type="submit" ng-click="save()" value="Save")
    .form-row
        .form-group.col-md-4(ng-class="{'has-error': encounterForm.date.$invalid}")
            label.control-label Date:
            date-input.form-control(name="date" ng-model="data.encounter.encDate" required)
        .form-group.col-md-4
            label.control-label Start Time:
            time-input.form-control(ng-model="data.encounter.starttime")
        .form-group.col-md-4
            label.control-label End Time:
            time-input.form-control(ng-model="data.encounter.endtime")
    .form-row
        uib-tabset
            uib-tab(heading="Data")
                fieldset.col-md-12(location="data.encounter.location" location-edit)
            uib-tab(heading="Images" active="tabs[1].active")
                wb-thumb-box(ng-if="tabs[1].active"
                             photos="data.photos"
                             actions="tbActions"
                             cb-delphoto="deletePhoto(id)"
                             cb-action="performAction(code, photos)")
    .form-row
        input(type="submit" ng-click="save()" value="Save")
