div
    div(ng-show="!data.submission")
        h1 Media Submissions
        .ag-fresh(ag-grid="msGridOptions", style="height: 590px")

    div.ng-cloak(ng-show="data.submission", wb-key-handler-form)
        .container-fluid
            .row
                .col-md-12
                    .row
                        .col-md-8.col-sm-6
                            h3 Edit Media Submission [{{data.submission.id}}]
                        .col-md-4.col-sm-6
                            span.media-admin-edit-icon
                                button.btn.btn-primary(ng-click="doneEditing()")
                                    i.glyphicon.glyphicon-check
                            span.media-admin-edit-icon
                                button.btn.btn-danger(ng-click="deleteSubmission(data.submission)")
                                    i.glyphicon.glyphicon-trash
            .row
                .col-md-2
                    div.media-admin-nav
                        span.media-admin-nav-label Surveys
                        a(href="javascript:;", ng-click="searchSurvey()"
                          title="Search for a Survey", data-toggle="tooltip")
                            i.glyphicon.glyphicon-search
                        a(href="javascript:;", ng-click="addSurvey()"
                          title="Add a new Survey", data-toggle="tooltip")
                            i.glyphicon.glyphicon-plus
                        ul.list-group
                            li.list-group-item(ng-repeat="surveyEnc in data.surveyEncs")
                                span {{surveyEnc.surveypart.survey.organization.displayName}} - {{surveyEnc.surveypart.survey.surveyNumber}}
                                a(href="javascript:;", ng-click="addEncounter(surveyEnc.surveypart)", title="Add a new Encounter", data-toggle="tooltip")
                                    i.glyphicon.glyphicon-plus
                                .list-group
                                    a.list-group-item(href="javascript:;", ng-repeat="encounter in surveyEnc.encounters", ng-click="selectEncounter(encounter)", ng-class="{active: encounter.id === data.activeEncounter.id}")
                                        .encounter-item
                                            div {{encounter.individual.displayName}}
                                            div {{dateStringFromRest(encounter.encDate)}}
                                            div {{encounter.location.locationid}}
                    div.media-admin-nav
                        span.media-admin-nav-label Encounters
                        a(href="javascript:;", ng-click="searchEncounter()",
                          title="Search for an Encounter", data-toggle="tooltip")
                            i.glyphicon.glyphicon-search
                        a(href="javascript:;", ng-click="addEncounter()",
                          title="Add a new Encounter", data-toggle="tooltip")
                            i.glyphicon.glyphicon-plus
                        .list-group
                            a.list-group-item(href="javascript:;", ng-repeat="encounter in data.encounters", ng-click="selectEncounter(encounter)", ng-class="{active: encounter.id === data.activeEncounter.id}")
                                .encounter-item
                                    div {{encounter.individual.displayName}}
                                    div {{dateStringFromRest(encounter.encDate)}}
                                    div {{encounter.location.locationid}}
                .col-md-10
                    .container-fluid
                        .row
                            .col-md-12
                                span.text-primary Submitted by:
                                | &nbsp{{data.submission.user.displayName}}
                                span.text-primary &nbspon:
                                | &nbsp{{timeToDate(data.submission.timeSubmitted)}}
                        .row
                            .col-md-6
                                span {{data.submission.description}}
                            .col-md-6
                                span {{data.submission.verbatimLocation}}
                        .row
                            .col-md-12
                                wb-thumb-box(ng-if="data.submission"
                                             photos="data.photos"
                                             cb-delphoto="deletePhoto(id)"
                                             cb-addphotos="addPhotos(photos)"
                                             num-photos="18")
                        .row
                            .col-md-12
                                wb-survey-search(ng-if="data.module.surveySearch", search-survey-done="searchSurveyDone(surveypart)")
                                wb-survey-edit(ng-if="data.module.surveyEdit", survey-to-edit="data.module.surveyEdit", edit-survey-done="editSurveyDone(surveypart)")
                                wb-encounter-search(ng-if="data.module.encounterSearch", search-encounter-done="searchEncounterDone(encounter)")
                                wb-encounter-edit(ng-if="data.module.encounterEdit", encounter-to-edit="data.module.encounterEdit", edit-encounter-done="editEncounterDone(encounter)")
