div
    div(ng-show="!data.submission")
        div(layout="row" layout-fill layout-align="start center")
            h1 Media Submissions
            div(flex="")
            md-input-container.padding-0
                md-select(ng-model="searchStatus" 
                                    ng-change="updateSubmissionData(searchStatus)" 
                                    placeholder="Encounter Status")
                    md-option(ng-value="''") New
                    md-option(ng-value="'completed'") Completed
                    md-option(ng-value="'*'") All
        .ag-fresh(ag-grid="msGridOptions" style="height: 590px")

    div.ng-cloak(ng-show="data.submission", wb-key-handler-form)
        div(layout="row" layout-align="center center")
            h3 Edit Media Submission [{{data.submission.id}}]
            div(flex="")
            md-icon.md-warn(md-svg-icon="delete" layout-margin ng-click="deleteSubmission(data.submission)")
            md-icon(md-svg-icon="close-circle" layout-margin ng-click="doneEditing()")
        div(layout="row")
            div(flex="15")
                div.media-admin-nav
                    span Surveys
                    a(href="javascript:;" ng-click="searchSurvey()")
                        md-icon(md-svg-icon="magnify")
                            md-tooltip(md-direction="right") Search for a Survey
                    a(href="javascript:;", ng-click="addSurvey()")
                        md-icon(md-svg-icon="plus")
                            md-tooltip(md-direction="top") Add a new Survey
                    md-divider
                    div(ng-repeat="surveyEnc in data.surveyEncs" layout-fill layout="row" layout-wrap)
                        md-icon(md-svg-icon="chevron-right" 
                                ng-show="!encOpen[$index]" 
                                ng-click="encOpen[$index] = true; selectSurvey(surveyEnc, true, $index)")
                        md-icon(md-svg-icon="chevron-down" 
                                ng-show="encOpen[$index]" 
                                ng-click="encOpen[$index] = false; selectSurvey(surveyEnc, true, $index)")
                        span(ng-click="selectSurvey(surveyEnc); activeEle('survey')"
                                ng-class="{active: surveyEnc.surveypart.part.surveyPartId === data.activeSurveyEnc.surveypart.part.surveyPartId && active.survey}")
                                    | {{surveyEnc.surveypart.survey.organization.displayName}} - {{surveyEnc.surveypart.survey.surveyNumber}}
                        div(flex="")
                        md-icon(md-svg-icon="plus" ng-click="addEncounter(surveyEnc); activeEle('survey')")
                            md-tooltip(md-direction="right") Add an encounter to this survey
                        div(ng-show="data.activeSurveyEnc.encs && encOpen[$index] === true" layout-fill)
                            div.media-admin-nav-list(layout="row" layout-align="end end" 
                                ng-repeat="encdata in data.activeSurveyEnc.encs" 
                                ng-click="selectEncounter($event, encdata, surveyEnc); activeEle('surveyEnc')" 
                                ng-class="{active: encdata.encounter.id === data.activeEncData.encounter.id && active.surveyEnc}")
                                .encounter-item
                                    div {{encdata.encounter.individual.displayName}}
                                    div {{dateStringFromRest(encdata.encounter.encDate)}}
                                    div {{encdata.encounter.location.locationid}}
                div.media-admin-nav.mt-10
                    span Encounters
                    a(href="javascript:;" ng-click="searchEncounter()")
                        md-icon(md-svg-icon="magnify")
                            md-tooltip(md-direction="right") Search for an Encounter
                    a(href="javascript:;" ng-click="data.selectedimgs.selected.length ? addEncounter() : showDialog('Please select some images before creating an encounter!')")
                        md-icon(md-svg-icon="plus")
                            md-tooltip(md-direction="top") Add a new Encounter
                    .media-admin-nav-list(href="javascript:;", ng-repeat="encdata in data.encs",
                                             ng-click="activeEle('encounter'); selectEncounter($event, encdata);", 
                                             ng-class="{active: encdata.encounter.id === data.activeEncData.encounter.id && active.encounter}")
                        .encounter-item
                            div {{encdata.encounter.individual.displayName}}
                            div {{dateStringFromRest(encdata.encounter.encDate)}}
                            div {{encdata.encounter.location.locationid}}
            div(flex="80" layout-wrap flex-offset="5")
                div(layout="row" layout-fill)
                    span.brand-primary Submitted by:
                    | &nbsp{{data.submission.user.displayName}}
                    a(href="javascript:;" ng-click="searchSubmitter()")
                        md-icon(md-svg-icon="magnify")
                            md-tooltip Reassign Submitter
                    a(href="javascript:;" ng-click="emailSubmitter()")
                        md-icon(md-svg-icon="email")
                            md-tooltip Email Submitter
                    span.brand-primary &nbspon:
                    | &nbsp{{timeToDate(data.submission.timeSubmitted)}}
                    div(flex="")
                    md-input-container.padding-0
                        md-checkbox(ng-model="data.submission.status" 
                                      ng-change="setStatus(data.submission.status)"
                                      placeholder="Encounter Status"
                                      ng-false-value=""
                                      ng-true-value="'completed'") {{data.submission.status ? 'Submission Completed' : 'Submission Complete?'}}
                div(layout="row" layout-fill ng-show="searchingSubmitter")
                    wb-user-search(search-user-done="searchUserDone(user)")
                div(layout="row" layout-fill)
                    div(flex="50")
                        span {{data.submission.description}}
                    div(flex="50")
                        span {{data.submission.verbatimLocation}}
                div(layout="row" layout-fill)
                    wb-thumb-box(ng-if="data.submission"
                                 photos="data.photos"
                                 indicators="data.indicators"
                                 actions="data.tbActions"
                                 thumbbox="data.selectedimgs"
                                 cb-action="performAction(code, photos)"
                                 block-size="8")
                div(layout="row" layout-fill layout-wrap)
                    div(ng-if="data.module.surveySearch" layout-fill)
                        legend Search Survey
                        wb-survey-search(search-survey-done="searchSurveyDone(surveypart)")
                    div(ng-if="data.module.surveyEdit" layout-fill)
                        legend Edit Survey
                        wb-survey-edit(survey-to-edit="data.module.surveyEdit" edit-survey-done="editSurveyDone(surveypart)")
                    div(ng-if="data.module.encounterSearch" layout-fill)
                        legend Search Encounter
                        wb-encounter-search(search-encounter-done="searchEncounterDone(encounter)")
                    div(ng-if="data.module.encounterEdit" layout-fill)
                        legend Edit Encounter
                        wb-encounter-edit(enc-data="data.module.encounterEdit"
                                          edit-encounter-done="editEncounterDone(encdata)"
                                          photos-detached="encounterPhotosDetached(photos)")
