div
    div(ng-show="!data.submission")
        h1 Media Submissions
        .ag-fresh(ag-grid="msGridOptions" style="height: 590px")

    div.ng-cloak(ng-show="data.submission", wb-key-handler-form)
        div(layout="row" layout-align="center center")
            h3 Edit Media Submission [{{data.submission.id}}]
            div(flex="")
            md-icon.md-warn(md-svg-icon="delete" layout-margin ng-click="deleteSubmission(data.submission)")
            md-icon(md-svg-icon="close-circle" layout-margin ng-click="doneEditing()")
        div(layout="row")
            div(flex="15")
                div.media-admin-nav
                    span Surveys
                    a(href="javascript:;" ng-click="searchSurvey()")
                        i.glyphicon.glyphicon-search
                            md-tooltip(md-direction="right") Search for a Survey
                    a(href="javascript:;", ng-click="addSurvey()")
                        i.glyphicon.glyphicon-plus
                            md-tooltip(md-direction="top") Add a new Survey
                    ul.list-group
                        li.list-group-item.media-admin-nav(ng-repeat="surveyEnc in data.surveyEncs"
                                                           ng-click="selectSurvey(surveyEnc)"
                                                           ng-class="{active: surveyEnc.surveypart.part.surveyPartId === data.activeSurveyEnc.surveypart.part.surveyPartId}")
                            span {{surveyEnc.surveypart.survey.organization.displayName}} - {{surveyEnc.surveypart.survey.surveyNumber}}
                            a(href="javascript:;", ng-click="addEncounter(surveyEnc)" tooltip-placement="right" uib-tooltip="Add a new Encounter")
                                i.glyphicon.glyphicon-plus
                                    md-tooltip(md-direction="top") Add a new Encounter
                            .list-group
                                a.list-group-item(href="javascript:;" ng-repeat="encdata in surveyEnc.encs" ng-click="selectEncounter($event, encdata, surveyEnc)" ng-class="{active: encdata.encounter.id === data.activeEncData.encounter.id}")
                                    .encounter-item
                                        div {{encdata.encounter.individual.displayName}}
                                        div {{dateStringFromRest(encdata.encounter.encDate)}}
                                        div {{encdata.encounter.location.locationid}}
                div.media-admin-nav
                    span Encounters
                    a(href="javascript:;" ng-click="searchEncounter()")
                        i.glyphicon.glyphicon-search
                            md-tooltip(md-direction="right") Search for an Encounter
                    a(href="javascript:;" ng-click="addEncounter()")
                        i.glyphicon.glyphicon-plus
                            md-tooltip(md-direction="top") Add a new Encounter
                    .list-group
                        a.list-group-item(href="javascript:;", ng-repeat="encdata in data.encs", ng-click="selectEncounter($event, encdata)", ng-class="{active: encdata.encounter.id === data.activeEncData.encounter.id}")
                            .encounter-item
                                div {{encdata.encounter.individual.displayName}}
                                div {{dateStringFromRest(encdata.encounter.encDate)}}
                                div {{encdata.encounter.location.locationid}}
            div(flex="80" layout-wrap flex-offset="5")
                div(layout="row" layout-fill)
                    span.text-primary Submitted by:
                    | &nbsp{{data.submission.user.displayName}}
                    span.text-primary &nbspon:
                    | &nbsp{{timeToDate(data.submission.timeSubmitted)}}
                div(layout="row" layout-fill)
                    div(flex="50")
                        span {{data.submission.description}}
                    div(flex="50")
                        span {{data.submission.verbatimLocation}}
                div(layout="row" layout-fill)
                    wb-thumb-box(ng-if="data.submission"
                                 photos="data.photos"
                                 indicators="data.indicators"
                                 actions="data.tbActions"
                                 cb-action="performAction(code, photos)")
                div(layout="row" layout-fill layout-wrap)
                    div(layout="row" layout-fill layout-align="end end")
                        <div flex=""></div>
                        cancel-button(layout-margin ng-if="data.module.encounterEdit || data.module.encounterSearch || data.module.surveySearch || data.module.surveyEdit")
                    div(ng-if="data.module.surveySearch" layout-fill)
                        legend Search Survey
                        wb-survey-search(search-survey-done="searchSurveyDone(surveypart)")
                    div(ng-if="data.module.surveyEdit" layout-fill)
                        legend Edit Survey
                        wb-survey-edit(survey-to-edit="data.module.surveyEdit" edit-survey-done="editSurveyDone(surveypart)")
                    div(ng-if="data.module.encounterSearch" layout-fill)
                        legend Search Encounter
                        wb-encounter-search(search-encounter-done="searchEncounterDone(encounter)")
                    div(ng-if="data.module.encounterEdit" layout-fill)
                        legend Edit Encounter
                        wb-encounter-edit(enc-data="data.module.encounterEdit"
                                          edit-encounter-done="editEncounterDone(encdata)"
                                          photos-detached="encounterPhotosDetached(photos)")
