+outerrow("footer")
    +wrapper("panel")
        table.twelve.columns
            tr
                td.four.sub-columns.left.text-pad-left.inverse-color(align="left")
                    span &copy 2015 All rights reserverd
                td.eight.sub-columns.right.inverse-color(align="right")
                    a(href=site.terms)= "Terms of use"
                    span()= " | "
                    a(href=site.unsubscribe)= "Unsubscribe"
+outerrow("footer")
    +wrapper("panel")(class="footer")
        table.twelve.columns
            tr
                td.four.sub-columns.left.text-pad-left.inverse-color(align="left")
                    | #{site.address}
                td.four.sub-columns.center.inverse-color.logo(align="center")
                    img(src=site.logoUrl, alt="Logo", height="90", width="92")
                td.four.sub-columns.right.inverse-color(align="right")
                    //- TODO: Images instead of text for social:
                    div
                        a(href=site.instagram) Instagram
                    div
                        a(href=site.facebook) Facebook
                    div
                        a(href=site.twitter) Twitter