//- mixins
mixin tablebody()
    table.body
        tr
            td.center(align="center", valign="top")
                center
                    block

mixin container()
    table.container
        tr
            td
                block

mixin outerrow(class)
    table.row(class=class)
        tr
            td.wrapper.last
                block

mixin innerrow()
    table.row
        tr
            block

mixin wrapper(panel)
    table.wrapper
        tr
            if(panel == 'panel')
                td.panel
                    block
            else
                td
                    block

mixin column(padding)
    table
        tr
            if(padding == 'padding')
                td.text-pad
                    block
            else
                td
                    block
            +expander()

mixin expander()
    td.expander

mixin centeredbutton(content, href)
    table.row.no-padding
        tr
            td.wrapper.last
                table.columns.twelve
                    tr
                        td.sub-column.three
                        td.sub-column.six.pad-button
                            table.button.radius.medium-button
                                tr
                                    td.pad-button
                                        a(href="#{href}")= content
                        td.sub-column.three
                        +expander
                block

mixin submission(src, date, location, items)
    div.submission
        img(src="#{src}", width=550)
        div
            div
                b Sighted on: 
                span= date
            div
                b Location: 
                span= location
            if(items)
                div
                    b Media Items You Submitted: 
                    span= items

mixin match(src1, src2, name)
    table.row
        tr
            td.wrapper.last
                table.columns.twelve
                    tr
                        td.sub-column.six.center.middle
                            img(src="#{src1}")
                        td.sub-column.six.center.middle.last
                            img(src="#{src2}")
                        +expander
    table.row
        tr
            td.wrapper.last
                table.columns.twelve
                    tr
                        td.sub-column.six.center.top
                            b Your Submission
                        td.sub-column.six.center.last.top
                            b=name
                        +expander
    table.row
        tr
            td.wrapper.last
                table.columns.twelve
                    tr
                        td
                            p More information about this individual:
                            p [list gender, age, number of sightings, locations?]
