.sighting-avatar
    a(href='/individual/' + being.id)
        if being.avatar
            .sighting-avatar-img(style="background-image: url(#{being.avatar});")
        else
            .sighting-avatar-img(style="background-image: url(/images/species/humpback_whale.svg);")
.sighting-info
    .sighting-name
        //@todo: data should come formatted like this, move out of template
        - var gender = !being.gender || being.gender == 'unknown' ? '(Gender Unknown)' : being.gender
        - var species = being.species ? being.species.replace('_', ' ') : 'Unknown Species'
        span.sighting-name-label()= species + ': '
        span.sighting-name-value()= being.displayName + ' : ' + gender
    .sighting-your-encounters
        span.sighting-your-label()= "Your Encounters: "
        span.sighting-your-value()= "COMING SOON!"
    .sighting-total-encounters
        span.sighting-total-label()= "Total Encounters: "
        span.sighting-total-value()= "COMING SOON!"