//- login.jade
//- an angular modal masking the page for login, while keeping your place on the page
div.login-modal.ng-cloak(ng-show="showlogin && !user")
        .container-fluid(ng-controller="LoginController")
            .row
                .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.col-xs-10.col-xs-offset-1
                    div(ng-show="$parent.showlogin && !reset.on && !reset.sent")
                        h1!= t('login.title')
                        div.form-group
                            label(for="login-user")!= t('login.labelUsername')
                            input#login-user.login-username.form-control(ng-model="loginForm.username", required="required", focus-me="$parent.showlogin")
                            p.help-block(ng-show="loginForm.error") {{ loginForm.error }}
                        div.form-group
                            label(for="login-pass")!= t('login.labelPassword')
                            input#login-pass.login-password.form-control(type="password", ng-model="loginForm.password", required="required", ng-keyup="login($event)")
                            p.help-block
                                span.link(ng-click="reset.on = true")!= t('login.forgotPassword')
                        div.form-group
                            button.btn.btn-medium.btn-success(ng-click="login()", ng-class="loginValidClass()")!= t('login.loginButton')
                    div(ng-show="$parent.showlogin && reset.on")
                        h1!= t('login.resetFormTitle')
                        div.form-group
                            label(for="reset-email")!= t('login.labelUsername')
                            input#reset-email.reset-email.form-control(type="email", ng-model="resetForm.email", required="required", focus-me="$parent.showlogin && reset.on", ng-keyup="sendreset($event)")
                            p.help-block(ng-hide="reset.error")!= t('login.resetHelper')
                            p.help-block {{ reset.error }}
                        div.form-group
                            button.btn.btn-medium.btn-warning(ng-click="sendreset()", ng-class="resetValidClass()")!= t('login.resetButton')
                    div(ng-show="$parent.showlogin && reset.sent")
                        h1!= t('login.resetSuccessTitle')
                        p.help-block!= t('login.resetSuccessMessage')
                        div.form-group
                            button.btn.btn-medium.btn-success(ng-click="closemodal()", focus-me="$parent.showlogin && reset.sent")!= t('login.resetSuccessButton')
            div.close-modal 
                a(ng-click="closemodal()") X