div(layout="row" layout-wrap id="encounter-edit") 
    wb-individual-search(ng-show="module.individualSearch" flex="100" search-individual-done="searchIndividualDone(individual)")
    wb-individual-edit(ng-show="module.individualEdit" edit-individual-done="editIndividualDone(individual)" ind-data="data.encounter.individual" flex="100")
    form.form.ng-cloak(ng-show="! module.individualSearch && ! module.individualEdit"
                       name="encounterForm" novalidate, wb-key-handler-form flex="100")
        div(layout="row" flex="100" layout-align="start center")
            cancel-button(layout-margin cancel="cancel()")
            div.ml-10 {{autofilled}}
            div(flex="")
            md-icon.md-warn(md-svg-icon="delete" layout-margin ng-click="deleteEncounter()")
                md-tooltip Remove Encounter
        md-content(layout="row" flex="100" layout-align="start center")
            label(layout-padding) Individual:
            img.avatar-icon.mr-5(ng-if="data.encounter.individual.avatar" ng-src="{{data.encounter.individual.avatar}}")
            input(flex="70" ng-show="data.encounter.individual.id" type="text" disabled="true" ng-value="(data.encounter.individual.displayName || data.encounter.individual.species.name) ? (data.encounter.individual.displayName  && data.encounter.individual.species.name ? data.encounter.individual.displayName + ' -- '+ data.encounter.individual.species.name : data.encounter.individual.displayName+data.encounter.individual.species.name) : '[Unknown]'")
            div(flex="70" layout="row" layout-align="start center" ng-show="! data.encounter.individual.id")
                span.brand-primary(flex="10") New
                md-select(flex="" ng-model="data.encounter.individual.species" ng-model-options="{trackBy: '$value.code'}" placeholder="Species")
                    md-option(ng-value="species" ng-repeat="species in allSpecies") {{species.name}}
            md-icon(md-svg-icon="pencil" layout-margin ng-click="editIndividual()")
                md-tooltip Edit Individual
            md-icon(md-svg-icon="magnify" layout-margin ng-click="findIndividual()")
                md-tooltip Find Individual
            div(flex="")
        md-content.material-datepicker(layout="row" layout-align="center center")
            md-datepicker(ng-model="dateObj" required md-placeholder="Date:" flex="33" ng-class="{'has-error': encounterForm.date.$invalid}")
            time-input(placeholder="Start Time" format="24" time="data.encounter.starttime" flex="33")
            time-input(placeholder="End Time" format="24" time="data.encounter.endtime" flex="33")
        md-content(ng-if="mapBuilt" ng-class="{'crosshair':locationPickerState}")
            leaflet(lf-center="mapData.center" layers="mapData.layers" markers="mapData.markers" tiles="mapData.tiles" height="300" defaults="mapData.defaults")
        md-content.mheight-5
            div(layout="row" flex="100")
                div(flex="")
                md-icon(md-svg-icon="crosshairs-gps" ng-click="pickLocation($event)" ng-class="{'green-svg':locationPickerState}")
                    md-tooltip {{locationPickerState ? 'Disable Lat/Lng Picker' : 'Enable Lat/Lng Picker'}}
        md-content
            md-tabs.overflow-visible(md-selected="selectedIndex" md-dynamic-height="true" md-border-bottom)
                md-tab(label="Data")
                    location-edit(location="data.encounter.location")
                md-tab(label="Images")
                    wb-thumb-box(ng-show="selectedIndex == 1"
                                 photos="data.photos"
                                 actions="tbActions"
                                 cb-action="performAction(code, photos)"
                                 pcb-action="checkPhotoCount(photos)")
        md-content
            div(layout="row" flex="100")
                md-input-container(flex="100")
                    label Comments
                    textarea(ng-model="data.encounter.comments")
        md-button.md-whiteframe-1dp(type="submit" ng-click="save()" aria-label="Save") Save
        
