div(layout="row" flex="100" class="site-admin-orgs" layout-align="start center" layout-wrap)
    div(layout="row" flex="100" layout-align="start center")
        md-input-container.mr-10(ng-show="!showSearch")
            label Organizations
            md-select(ng-model="org" placeholder="Organizations" ng-change="edit(org)")
                md-option(ng-value="org" ng-repeat="org in orgs track by $index") {{org.name}}
        md-icon.mwidth-10.pointer(md-svg-icon="magnify" ng-init="showSearch = false" ng-show="!showSearch" ng-click="showSearch = true")
        md-autocomplete.mr-10(ng-show="showSearch"
                              md-floating-label="Search Orgs"
                              md-selected-item="org"
                              md-search-text="orgSearch"
                              md-items="org in orgs | filter:{name: orgSearch}"
                              md-selected-item-change="showSearch = false; edit(org);"
                              md-item-text="org.name")
            <span md-highlight-text="searchText"> {{org.name}}
        md-icon.mwidth-10.pointer(md-svg-icon="close" ng-show="showSearch" ng-click="showSearch = false")
        md-button.md-whiteframe-1dp.height-36(aria-label="New Species"  ng-click="newOrg()") New Organization
    div(ng-show="showEdit || org" layout="row" flex="100" layout-align="start end")
        md-input-container.mr-10.padding-0
            label Name
            input(type="text" ng-model="orgInput.name")
        md-button.md-whiteframe-1dp.height-36(aria-label="Save Encounter"  ng-click="save()") Save
        md-button.md-whiteframe-1dp.height-36(aria-label="Cancel"  ng-click="cancel()") Cancel



