div(layout="row" flex="100" class="site-admin-orgs" layout-align="start center" layout-wrap)
    div(layout="row" flex="100" layout-align="start center")
        md-input-container.mr-10(ng-show="!showSearch")
            label Species
            md-select(ng-model="species" placeholder="Species" ng-change="edit(species)")
                md-option(ng-value="species" ng-repeat="species in allSpecies") {{species.name}}
        md-icon.mwidth-10.pointer(md-svg-icon="magnify" 
                                  ng-init="showSearch = false" 
                                  ng-show="!showSearch" 
                                  ng-click="search()")
        md-autocomplete.mr-10(ng-show="showSearch"
                              md-floating-label="Search Species" 
                              md-selected-item="species" 
                              md-search-text="speciesSearch" 
                              md-items="species in allSpecies  | filter:{name: speciesSearch}"
                              md-selected-item-change="!showSearch; edit(species);"
                              md-item-text="species.name")
            <span md-highlight-text="searchText"> {{species.name}}
        md-icon.mwidth-10.pointer(md-svg-icon="close" ng-show="showSearch" ng-click="showSearch = false")
        md-button.md-whiteframe-1dp.height-36(aria-label="New Species"  ng-click="newSpecies()") New Species
    div(ng-show="speciesInput" layout="row" flex="100" layout-align="start end")
        md-input-container.padding-0(flex)
            label Code
            input(type="text" ng-model="speciesInput.code")
        md-input-container.ml-10.padding-0(flex)
            label Name
            input(type="text" ng-model="speciesInput.name")
        md-input-container.ml-10.padding-0(flex)
            label Icon Code (leave blank if equal to Code)
            input(type="text" ng-model="speciesInput.icon")
        md-button.md-whiteframe-1dp.height-36(aria-label="Save Species"  ng-click="save()") Save
        md-button.md-whiteframe-1dp.height-36(aria-label="Cancel"  ng-click="cancel()") Cancel
