extends layout

block content
    .homecontainer
        img.homeimage(src="/images/home_image1.png")
        .banner
            .bannerreport
                p Have you seen a whale?
                a(href="/submitMedia")
                    button.btn= t("header.menu.reportSighting")+" >"

    .container-fluid.homefooter
        .col-md-3.homefootercol
            //
            // TODO: Put instagram feed here.
            //
            .row
                div
                    img.tinyimage(src="/images/home_tiny1.png")
                    img.tinyimage(src="/images/home_tiny2.png")
                    img.tinyimage(src="/images/home_tiny3.png")
                    img.tinyimage(src="/images/home_tiny4.png")
        .col-md-6.homefootercol
            h1= t("home.footer.whatGoingOn")
            for item in home.news
                h2= item.headline
                p= item.contents
        .col-md-3
            h1= t("home.footer.spotlight")
            .spotlight
                img(src="/images/spotlight_card.png")
                img.spotlightphoto(src="/images/spotlight_photo.png")
                .spotlightcontents
                    h2 "#{home.spotlight.name}"
                    p #{home.spotlight.species}
                        br
                        | #{home.spotlight.id}
                        br
                        | #{home.spotlight.place}
