extends layout

block css
    link(rel='stylesheet', href='/vendor/zocial/zocial.css')

block content
    .homecontainer
        img.homeimage(src="/images/home_image1.png")
        .banner
            .bannerreport
                p Have you seen a whale?
                button.btn= t("header.menu.reportSighting")+" >"

    .container-fluid.homefooter
        .col-md-3.homefootercol
            .row
                h1= t("home.footer.connectWithUs")
                a.zocial.facebook(href="https://www.facebook.com/happywhales" target="_blank")
                a.zocial.twitter(href="https://twitter.com/happyhumpback" target="_blank")
                //a.zocial.google(href="#")
                a.zocial.instagram(href="https://instagram.com/happyhumpback" target="_blank")
                a.zocial.email(href="#")
            .row
                div
                    img.tinyimage(src="/images/home_tiny1.png")
                    img.tinyimage(src="/images/home_tiny2.png")
                    img.tinyimage(src="/images/home_tiny3.png")
                    img.tinyimage(src="/images/home_tiny4.png")
        .col-md-6.homefootercol
            h1= t("home.footer.whatGoingOn")
            for item in page.news
                h2= item.headline
                p= item.contents
        .col-md-3
            h1= t("home.footer.spotlight")
            .spotlight
                img(src="/images/spotlight_card.png")
                img.spotlightphoto(src="/images/spotlight_photo.png")
                .spotlightcontents
                    h2 "#{page.spotlight.name}"
                    p #{page.spotlight.species}
                        br
                        | #{page.spotlight.id}
                        br
                        | #{page.spotlight.place}
