extends layout

block content
    .container-fluid.home-action
        .row
            .home-image-full
                .banner
                    .bannerreport
                        h1= t("home.banner.reportQuestion")
                        a.btn.btn-primary(href="/submitMedia")= t("header.menu.reportSighting")+" >"
                a.home-down
                    i.icon-caret-down

    .container-fluid.home-content
        .col-md-3.home-col
            .social-icons.row-inner
                h2 Connect With Us
                include partials/social-icons
            .instagram-feed.row-inner
                .instagram-feed-flex
                    p.instagram-feed-title
                        a(href="https://instagram.com/#{config.social.instagram.id}", target="_blank") @#{config.social.instagram.id}
                        span= t("home.social.onInstagram")
                    for item in home.social.instagram.feed
                        a.instagram-feed-item(href="#{item.link}" target="_blank")
                            - var tooltip
                            if item.caption
                                - tooltip=item.caption.text
                            else
                                - tooltip = ""
                            img(src="#{item.images.thumbnail.url}" data-toggle="tooltip" title="#{tooltip}")
        .col-md-6.home-col
            .twitter.row-inner
                h2= t("home.footer.whatGoingOn")
                ul.twitter-feed
                   for item in home.social.twitter.feed
                        li
                            h4 !{item.created_at}:
                            p !{item.text}
                            hr
                .twitter-more
                    a(href="https://twitter.com/#{config.social.twitter.id}", target="_blank")
                        span= t("home.social.moreTwitter")
                        i.icon-twitter(href="https://twitter.com/#{config.social.twitter.id}", target="_blank")
        .col-md-3.home-col
            h2= t("home.footer.spotlight")
            .spotlight
                img(src="/images/spotlight_card.png")
                img.spotlightphoto(src="/images/spotlight_photo.png")
                .spotlightcontents
                    h2 "#{home.spotlight.name}"
                    p #{home.spotlight.species}
                        br
                        | #{home.spotlight.id}
                        br
                        | #{home.spotlight.place}
    .push
