extends layout

block content
    .maincontent
        .container-fluid.individual-stats
            .row
                .col-xs-12
                    h1.has-icon.icon-bullet-individual= t("individual.meet", {individualId: data.info.individual.displayName})
            .row
                .stats-col.flex-justify-center.col-lg-3.col-md-3.col-sm-12.col-xs-12
                    span.avatar
                        if data.info.individual.avatar
                            img(src="#{config.wildbook.staticUrl}#{data.info.individual.avatar}" height="256px")
                        else
                            //todo t()
                            span.no-avatar(style="background-image:url(/cust/images/img_whale.svg)")="NO IMAGE"
                .clearfix.visible-sm-block
                .stats-col.col-lg-5.col-md-5.col-sm-6.col-xs-12
                    .row-inner.infographic-1
                        h3.sight-date-text= t("individual.firstSighted")
                        span.sight-date #{data.firstSeen}
                    .row-inner.infographic-2
                        .sight-number-info
                        h3.sight-number-text!= t("individual.reportedSightings")
                        span.sight-number #{data.info.encounters.length}
                .stats-col.col-md-4.col-sm-6.col-xs-12
                    .row-inner.infographic-3
                        .sight-date-info
                        .flex-align
                            h3.sight-date-text= t("individual.lastSeen")
                            span.sight-date #{data.lastSeen}
        -var photos = data.info.photos
        //include partials/carousel
        
        include partials/phototool

        .container-fluid
            .row
                .col-md-12
                    h2.has-icon.icon-star= t("individual.contributors")
                    hr
                    for being in data.info.submitters
                        ul.submitters
                            li
                                include partials/avatar
                    hr
                                
        .container-fluid
            .row
                .col-md-12
                    h2.has-icon.icon-sightings= t("individual.sightings")
                    #map-sightings

        .container-fluid.share-action
            .row
                .col-md-12
                    h2= t("individual.seenIndividual")
                    a(href="/submitMedia")
                        button.btn.btn-primary.btn-lg= t("individual.shareExperience")
            
block configScripts
    script(src="/vendor/leaflet/leaflet.js")
    script(src="/vendor/leaflet.markercluster/leaflet.markercluster.js")
    script(src="/bcomponents/Leaflet.EasyButton/easy-button.js")
    script(src="/javascript/maptool.js")
    
block scripts
    script(src="/vendor/photoswipe/photoswipe.min.js")
    script(src="/vendor/photoswipe/photoswipe-ui-default.min.js")
    script(src="/javascript/phototool.js")
    script(src='/javascript/individual.js')
    
    script.
        $(document).ready(function() {
            //
            // Trigger bootstrap carousels
            //
            //    $('.carousel').carousel({
            //        interval: 3000
            //    });
        
            var photos = !{JSON.stringify(data.info.photos)};
            var encounters = !{JSON.stringify(data.info.encounters)};
        
            app.configPromise.then(function() {
                individualPage.init(photos, encounters);
            });
        });
