extends layout

block css
    link(rel="stylesheet" href="/vendor/leaflet/leaflet.css")
    link(rel="stylesheet" href="/vendor/leaflet.markercluster/MarkerCluster.css")
    link(rel="stylesheet" href="/vendor/photoswipe/photoswipe.css")
    link(rel="stylesheet" href="/vendor/photoswipe/default-skin/default-skin.css")

block content
    .maincontent
        h1.has-icon.icon-happywhale= t("individual.meet", {individualId: data.ind.nickname + "(" + data.ind.id + ")"})
        
        .container-fluid
            .col-md-2
                img(src="#{config.wildbook.staticUrl}#{data.ind.avatar}" height="128px")
            .col-md-10
                .container-fluid.sight-stats
                    .row
                        .col-md-3
                            span.sight-date-text.pull-right= t("individual.firstSighted")
                        .col-md-3
                            span.sight-date #{data.firstSeen}
                        .col-md-3
                            // birds
                        .col-md-3
                            // birds
                    .row
                        .container-fluid
                            .col-md-2
                                img(src="/cust/images/img_binoculars.svg" height="128px")
                            .col-md-10
                                .container-fluid.sight-stats
                                    .col-md-4
                                        .row
                                            span.sight-number #{data.ind.encounters.length}
                                        .row
                                            span.sight-date-text!= t("individual.reportedSightings")
                                    .col-md-4
                                        .row
                                            img(src="/cust/images/img_whale.svg" height="80px")
                                        .row
                                            span.sight-date-text.pull-right= t("individual.lastSeen")
                                    .col-md-4
                                        .row
                                            img(src="/cust/images/img_waves.svg")
                                        .row
                                            span.sight-date #{data.lastSeen}

        -var photos = data.ind.photos
        //include partials/carousel
        
        include partials/phototool

        h2= t("individual.contributors")
        hr
        for user in data.ind.submitters
            ul.submitters
                li
                    include partials/user
        hr
        h2= t("individual.sightings")
        hr
        #map-sightings
        
        p= t("individual.seenIndividual")
        a(href="/submitMedia")
            button.btn.btn-primary= t("individual.shareExperience")
        
        
block scripts
    script(src="/vendor/leaflet/leaflet.js")
    script(src="/vendor/leaflet.markercluster/leaflet.markercluster.js")
    script(src="/vendor/photoswipe/photoswipe.min.js")
    script(src="/vendor/photoswipe/photoswipe-ui-default.min.js")
    script(src="/javascript/phototool.js")
    script(src="/javascript/maptool.js")
    script(src='/javascript/individual.js')
    
    script.
        $(document).ready(function() {
            //
            // Trigger bootstrap carousels
            //
            //    $('.carousel').carousel({
            //        interval: 3000
            //    });
        
            var ind = !{JSON.stringify(data.ind)};
        
            app.configPromise.then(function() {
                individualPage.init(ind);
            });
        });
