extends layout


block content
    .maincontent.password-reset
        section.container-fluid
            if (!tokenInfo.token)
                h1!= t("passwordReset.h1")
                #password-form
                    .input
                        label(for="email")!= t("passwordReset.enterEmail")
                        input(id="email" placeholder="email@example.com")
                    a.btn.btn-primary.btn-oversize(href="#" id="password-button" onClick="return sendResetEmail(document.getElementById('email').value);")= t("passwordReset.buttonEmail")
                #password-success
                    p!= t("passwordReset.emailSent")

            else if (tokenInfo.error)
                h1 error
                p !{tokenInfo.error}

            else
                h1!= t("passwordReset.h1")
                #password-form
                    input(type="hidden" id="token" value="#{tokenInfo.token}")
                    .input
                        label(for="password1")!= t("passwordReset.enterNew")
                        input(id="password1" type="password")
                    .input
                        label(for="password2")!= t("passwordReset.verifyNew")
                        input(id="password2" type="password")
                    .password-details= t("passwordReset.details")
                    a.btn.btn-primary.btn-oversize(href="#" id="password-button" onClick="return resetPassword(document.getElementById('token').value, document.getElementById('password1').value, document.getElementById('password2').value);")= t("passwordReset.buttonReset")
                #password-success
                    p!= t("passwordReset.passwordReset")


block scripts
    script(src="/javascript/spPasswordReset.js")

    script.
        var wildbookUrl = '#{config.wildbook.url}';
