//- verify your account

extends layout

block content
    .container-fluid.page-inner(ng-controller="ResetController", data-token="#{token}")
        .row
            .col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.col-xs-12
                div(ng-show="!done")
                    if token
                        h1!= t('verify.title')
                        p!= t('verify.description')
                        div.form-group
                            label(for="password")!= t('verify.password')
                            input#password.form-control(type="password", ng-model="form.password", required="required", focus-me="!done")
                        div.form-group
                            label(for="retypePassword")!= t('verify.retypePassword')
                            input#retypePassword.form-control(type="password", ng-model="form.password2", required="required")
                        div.form-group
                            button.btn.btn-medium.btn-success(ng-click="reset()", ng-class="verifyPasswordForm()")!= t('verify.verifyButton')
                            p.help-text {{ passwordError }}
                    else
                        h1!= t('verify.errorTitle')
                        p!= t('verify.errorMessage')
                        a.btn.btn-medium.btn-success(href="/")!= t('verify.errorButton')
                div.ng-cloak(ng-show="done")
                    h1!= t('verify.verifySuccessTitle')
                    p!= t('verify.verifySuccessMessage')
                    div.form-group
                        a.btn.btn-medium.btn-success(ng-click="$parent.showloginmodal()", focus-me="done")!= t('verify.verifyLogIn')
