extends layout

block content
    .maincontent.voyage-viewer
        section.container-fluid
            h1.has-icon.icon-happywhale= t("voyage.h1Thanks")
            p VOYAGGGGE surveyTrackID=(#{surveyTrackID}) mediaID=(#{mediaID}) matchID=(#{matchID})
            //p #{JSON.stringify(surveyTrack)}
            p!= t("voyage.thanksForFeedback", {indLink: match.link, escapeInterpolation: false})
            if match
                .match-pair
                    .image
                        img(src="#{match.testImage.url}")
                        .caption #{match.testImage.caption}
                    .image.image-right
                        img(src="#{match.matchImage.url}")
                        .caption #{match.matchImage.caption}
                a.btn.btn-primary.btn-oversize(href='#')= t("voyage.btnMeetWhale")
                a.btn.btn-primary.btn-oversize(href='#')= t("voyage.btnIDPhotos")
                .hr-light
            h1.has-icon.icon-voyageviewer= t("voyage.h1VoyageViewer")
            if surveyTrack.contributors
                h2= t("voyage.h2Contributors")
                .hr-light
            if surveyTrack.recentSightings
                h2= t("voyage.h2RecentSightings")
                .hr-light
            if surveyTrack.activity
                h2= t("activity.h2RecentActivity")
                .hr-light
            h2= t("voyage.h2Contributions")
            a.btn.btn-primary.btn-oversize(href='#')= t("voyage.btnAddMedia")
            p= t("voyage.contributionsIntro")
            if surveyTrack.contributions
                p your contribs here...
            include sharePage.jade
