extends layout

block content
    .maincontent.voyage-viewer
        section.container-fluid
            //p VOYAGGGGE surveyTrackID=(#{surveyTrackID}) mediaID=(#{mediaID}) matchID=(#{matchID})
            //xmp !{JSON.stringify(voyage, null, 2)}
            if voyage.match
                h1.has-icon.icon-happywhale= t("voyage.h1Thanks")
                p!= t("voyage.thanksForFeedback", {indLink: voyage.match.link, escapeInterpolation: false})
                .match-pair
                    .image
                        img(src="#{voyage.match.testImage.url}")
                        .caption #{voyage.match.testCaption}
                    .image.image-right
                        img(src="#{voyage.match.matchImage.url}")
                        .caption #{voyage.match.matchCaption}
                a.btn.btn-primary.btn-oversize(href='/individual/#{voyage.match.individualID}')= t("voyage.btnMeetWhale")
                a.btn.btn-primary.btn-oversize(href='#')= t("voyage.btnIDPhotos")
                hr
            h1.has-icon.icon-voyageviewer= t("voyage.h1VoyageViewer")
            if voyage.contributors
                h2= t("voyage.h2Contributors")
                hr
                for user in voyage.contributors
                    ul.submitters
                        li
                            include partials/user
                //xmp !{JSON.stringify(voyage.contributors, null, 2)}
            if voyage.recentSightings
                h2= t("voyage.h2RecentSightings")
                hr
            if voyage.activity
                h2= t("activity.h2RecentActivity")
                hr
            h2= t("voyage.h2Contributions")
            a.btn.btn-primary.btn-oversize(href='/submitMedia')= t("voyage.btnAddMedia")
            p= t("voyage.contributionsIntro")
            if voyage.contributions
                p your contribs here...
            include sharePage.jade
