extends layout

block content
    .maincontent.voyage-viewer
        section.container-fluid
            //p VOYAGGGGE surveyTrackID=(#{surveyTrackID}) mediaID=(#{mediaID}) matchID=(#{matchID})
            //xmp !{JSON.stringify(voyage, null, 2)}
            if voyage.match
                #voyageviewer-match-banner-header
                    .banner-main= t("voyage.banner.main")
                    .banner-info= t("voyage.banner.info")
                div(style="height: 315px;")
                h1.has-icon.icon-happywhale
                p!= t("voyage.thanksForFeedback", {indLink: voyage.match.link, escapeInterpolation: false})
                .match-pair
                    .image
                        img(src="#{voyage.match.testImage.url}")
                        .caption #{voyage.match.testCaption}
                    .image.image-right
                        img(src="#{voyage.match.matchImage.url}")
                        .caption #{voyage.match.matchCaption}
                a.btn.btn-primary.btn-oversize(href='/individual/#{voyage.match.individualID}')= t("voyage.btnMeetWhale")
                a.btn.btn-primary.btn-oversize(href='/submitMedia')= t("voyage.btnIDPhotos")
                hr
            h1.has-icon.icon-voyageviewer= t("voyage.h1VoyageViewer")
            if voyage.contributors
                h2= t("voyage.h2Contributors")
                hr
                for user in voyage.contributors
                    ul.submitters
                        li
                            include partials/user
                //xmp !{JSON.stringify(voyage.contributors, null, 2)}
            if (voyage.mediaParsed && voyage.mediaParsed.featured)
                h2= t("voyage.h2RecentSightings")
                hr
                .voyage-sightings
                    for img in voyage.mediaParsed.featured
                        .voyage-sighting.center-cropped
                            img(src="#{img.image.url}")
            if (voyage.mediaParsed && voyage.mediaParsed.recent)
                h2= t("activity.h2RecentActivity")
                hr
                .voyage-recents
                    for msub in voyage.mediaParsed.recent
                        .voyage-recents-msub
                            .activity
                                img.user-avatar.activity-icon(src="#{msub.user.avatar}")
                                .activity-text!= t("voyage.recentActivity.uploaded", {uname: msub.user.displayName, num: ((msub.media.length == 1) ? 'one photo' : msub.media.length + ' photos')})
                            .media
                                for img in msub.media
                                    .voyage-recent.center-cropped
                                        img(src="#{img.image.url}")
            h2= t("voyage.h2Contributions")
            a.btn.btn-primary.btn-oversize(href='/submitMedia')= t("voyage.btnAddMedia")
            p= t("voyage.contributionsIntro")
            if voyage.contributions
                p your contribs here...
            include sharePage.jade
