md-dialog(class="admin-changepassword-dialog md-raised" aria-label="List dialog")
    md-toolbar
        div(class="md-toolbar-tools")
            h2 Edit User Roles
            span(flex)
            md-button(class="md-icon-button" ng-click="closeDialog()")
                md-icon(md-svg-icon="close" aria-label="Close dialog")
    md-dialog-content(class="md-dialog-content")
        div(layout="row" layout-wrap)
            div(layout="row" flex="100" layout-align="start center")
                div.text-center(flex="45")
                    label Available Roles
                div(flex="10")
                div.text-center(flex="45")
                    label User Roles
            div(layout="row" flex="100")
                div.box.dialog-col-height(layout="column" flex="45" layout-align="center center")
                    md-button.mt-0.mb-0(ng-class="{'md-primary': selectedAvailableRole.indexOf(role) > -1}" 
                                        ng-repeat="role in availableroles" 
                                        layout-fill 
                                        ng-if="availableroles.length > 0"
                                        ng-click="selectVal(selectedAvailableRole, role); clearSelectedUsers();") {{role}}
                        md-divider(flex="100" ng-show="!$last")
                    div(ng-if="availableroles.length === 0" layout-align="center center") None
                div(layout="column" flex="10" layout-align="center center")
                    md-icon(md-svg-icon="arrow-right" ng-click="updateArr(selectedAvailableRole, userroles, availableroles)")
                    md-icon(md-svg-icon="arrow-left" ng-click="updateArr(selectedUserRoles, availableroles, userroles)")
                div.box.dialog-col-height(layout="column" flex="45" layout-align="center center")
                    md-button.mt-0.mb-0(ng-class="{'md-primary': selectedUserRoles.indexOf(role) > -1}" 
                                        ng-repeat="role in userroles" 
                                        layout-fill 
                                        ng-if="userroles.length > 0"
                                        ng-click="selectVal(selectedUserRoles, role); clearAvailableSelected();") {{role}}
                        md-divider(flex="100" ng-show="!$last")
                    div(ng-if="userroles.length === 0" layout-align="center center") None
        md-dialog-actions.mt-20(layout="row" layout-align="end center")
            md-button.md-whiteframe-1dp(ng-click="closeDialog()") Cancel
            md-button.md-whiteframe-1dp(ng-disabled="disableSave"  ng-click="update()") Save
                
                
                
                
                
                
                
                
                    //- md-select(flex="85" ng-model="userroles" multiple="true" placeholder="Roles")
                    //-     md-option(ng-value="role" ng-repeat="role in roles") {{role}}
                    //- div(flex="5")
                    //- md-icon.md-warn(flex="10" md-svg-icon="delete" ng-click="removeRoles()")
                    //-     md-tooltip Remove All Roles                
