// Need this parent div because as an angular directive it must have a single parent element
div(wb-key-handler-watch-scope="parent")
    md-content.overflow-visible(layout="row" layout-align="center center")
        div(flex="33")
            md-button.md-icon-button.action-icon(ng-click="panLeft()" ng-disabled="isLeftDisabled()" aria-label="Pan Left")
                md-icon.glyphicon.glyphicon-chevron-left
            md-button.md-icon-button.action-icon(ng-click="panRight()" ng-disabled="isRightDisabled()" aria-label="Pan Right")
                md-icon.glyphicon.glyphicon-chevron-right
        div(flex="33")
            div(flex)
                md-button.md-icon-button.action-icon(ng-repeat="action in actions" ng-class="'md-' + (action.type || 'default')"
                                         ng-click="performAction(action)"
                                         ng-disabled="! zoomimage && thumbbox.selected.length === 0"
                                         aria-label="{{action.tooltip}}")
                    md-tooltip {{action.tooltip}}
                    md-icon.glyphicon(ng-class="'glyphicon-' + (action.glyphicon || 'check')")
                md-button.md-icon-button.action-icon(ng-click="clearSelection()"
                                         ng-disabled="zoomimage || thumbbox.selected.length === 0"
                                         aria-label="Clear Selection")
                    md-tooltip Clear Selection
                    md-icon.glyphicon.glyphicon-erase
        div(flex="33")
            md-slider(md-discrete ng-show="sliderMax() != 0 && slider.step != sliderMax()"
                      ng-model="slider.value" min="{{slider.step}}" step="{{slider.step}}"
                      max="{{sliderMax()}}" aria-label="Image Count")
    md-content(layout="row" layout-align="left center")
        .flexy(ng-show="! zoomimage")
            .thumbbox-item(ng-repeat="photo in getVisPhotos()" ng-class="{'selected': thumbbox.meta[photo.id].selected}")
                a(href="javascript:;", ng-click="selectImage($event, photo)")
                    img(ng-src="{{photo.thumbUrl}}", style="padding: 2px; max-width: 100%")
                .flexy
                    div(ng-repeat="indicator in indicators" class="indicator {{indicator.def.type}} {{indicator.def.displayClass}}")
                        div(ng-class="{zero: (indicator.values[photo.id] === 0)}") {{indicator.values[photo.id]}}
                div(style="font-size: 12px") {{getTimestamp(photo)}}
        .ng-cloak(ng-if="zoomimage", style="position: relative; width: 800px; height: 600px;", wb-key-handler-form)
            div
                img.ng-cloak(ng-src="{{zoomimage.midUrl}}")
                .action-icon-box
                    .action-icon-wrapper
                        md-button.md-icon-button.md-accent.action-icon
                            md-tooltip Download
                            a(target="_self", href="{{zoomimage.url}}", download="{{zoomimage.url.substring(zoomimage.url.lastIndexOf('/')+1)}}")
                                i.glyphicon.glyphicon-download
                    .action-icon-wrapper
                        md-button.md-icon-button.md-primary.action-icon(ng-click="cancelZoom()")
                            md-tooltip Close
                            i.glyphicon.glyphicon-check
                div(flex="50")
                    .flexy
                        div(ng-repeat="indicator in indicators" class="indicator {{indicator.def.type}} {{indicator.def.displayClass}}")
                            div(ng-class="{zero: (indicator.values[zoomimage.id] === 0)}") {{indicator.values[zoomimage.id]}}
                div(flex="50")
                    div(style="font-size: 16px") {{getTimestamp(zoomimage)}}
                        