// Need this parent div because as an angular directive it must have a single parent element
div(wb-key-handler-watch-scope="parent" layout-fill)
    md-content.overflow-visible(layout="row" layout-align="center center")
        div(flex="33")
            md-button.md-icon-button.action-icon(ng-click="panLeft()" ng-disabled="isLeftDisabled()" aria-label="Pan Left")
                md-icon(md-svg-icon="chevron-left")
            md-button.md-icon-button.action-icon(ng-click="panRight()" ng-disabled="isRightDisabled()" aria-label="Pan Right")
                md-icon(md-svg-icon="chevron-right")
        div(flex="33")
            div(flex)
                md-button.md-icon-button.action-icon(ng-repeat="action in actions" ng-class="'md-' + (action.type || 'default')"
                                         ng-click="performAction(action)"
                                         ng-disabled="! zoomimage && thumbbox.selected.length === 0"
                                         aria-label="{{action.tooltip}}")
                    md-tooltip {{action.tooltip}}
                    md-icon(md-svg-icon="{{action.icon || 'check'}}")
                md-button.md-icon-button.action-icon(ng-click="clearSelection()"
                                         ng-disabled="zoomimage || thumbbox.selected.length === 0"
                                         aria-label="Clear Selection")
                    md-tooltip Clear Selection
                    md-icon(md-svg-icon="eraser")
        div(flex="30")
            md-slider.overflow-visible(md-discrete ng-show="sliderMax() != 0 && slider.step != sliderMax()"
                      ng-model="slider.value" min="{{slider.step}}" step="{{slider.step}}"
                      max="{{sliderMax()}}" aria-label="Image Count")
    md-content.mb-30.overflow-visible(layout="row" flex="100" layout-align="left center")
        div(layout-wrap ng-show="! zoomimage" layout="row")
            .thumbbox-item(ng-repeat="photo in getVisPhotos()" ng-class="{'selected': thumbbox.meta[photo.id].selected}")
                a(href="javascript:;", ng-click="selectImage($event, photo)")
                    img(ng-src="{{photo.thumbUrl}}" style="padding: 2px; max-width: 100%")
                div(layout="row" flex="100" layout-align="start center")
                    div(ng-repeat="indicator in indicators" class="indicator {{indicator.def.type}} {{indicator.def.displayClass}}")
                        div(ng-class="{zero: (indicator.values[photo.id] === 0)}") {{indicator.values[photo.id]}}
                    div(flex="")
                    md-icon(ng-show="metaTooltip(photo)" md-svg-icon="information-outline" title="{{metaTooltip(photo)}}")
                div(layout="row" flex="100")
                    div(style="font-size: 12px") {{getTimestamp(photo)}}
        .ng-cloak(ng-if="zoomimage", style="position: relative; width: 800px; height: 600px;", wb-key-handler-form)
            div
                img.ng-cloak(ng-src="{{zoomimage.midUrl}}")
                .action-icon-box
                    .action-icon-wrapper
                        md-button.md-icon-button.action-icon
                            md-tooltip Download
                            a(target="_self", href="{{zoomimage.url}}", download="{{downloadFile(zoomimage)}}")
                                md-icon(md-svg-icon="download")
                    .action-icon-wrapper
                        md-button.md-icon-button.md-primary.action-icon(ng-click="cancelZoom()")
                            md-tooltip Close
                            md-icon(md-svg-icon="check")
                div(layout="row" layout-align="start center" flex="50")
                        div(ng-repeat="indicator in indicators" class="indicator {{indicator.def.type}} {{indicator.def.displayClass}}")
                            div(ng-class="{zero: (indicator.values[zoomimage.id] === 0)}") {{indicator.values[zoomimage.id]}}
                        div(style="font-size: 16px" title="{{metaTooltip(zoomimage)}}") {{getTimestamp(zoomimage)}}
